/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Dark background color */
    color: #ddd; /* Lighter text color */
    background-image: url('owner.jpeg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 500; 
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background: linear-gradient(135deg, #ff8008, #ffc837)
    
   
}
.logo {
    width: 140px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: inline-block;
    margin-right: 20px; /* Adjust margin for separation */
    margin-left: 1px; /* Adjust margin to create space between logo and text */
}
.main-content {
    padding-bottom: 305px; /* Adjust according to footer height */
}


.header-content {
    position: relative;
    z-index: 1;

    
}

.header-content h1 {
    font-size: 1.5em; /* Decrease font size */
    margin-bottom: 5px; /* Adjust margin */
    animation: slideIn 1s ease 0.5s forwards;
}

.header-content p {
    font-size: 1em;
    margin-bottom: 10px;
    animation: slideIn 1s ease 1s forwards;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    animation: slideIn 1s ease 1.5s forwards;
    display: inline-block; /* Align navigation horizontally */
    margin-left: 0px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    border-radius: 20px;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: 12px 24px; /* Increased button size */
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 30px; /* Increased border radius */
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #7f00ff, #e100ff); /* Gradient with purple shades */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
nav ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s ease;
}
nav ul li a:hover:before {
    transform: translate(-50%, -50%) scale(1);
}
nav ul li a:hover {
        background: #7f00ff; /* Brighter purple on hover */
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2)
}

.background-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.circle {
    position: absolute;
    background-color: #ffc837;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: -150px;
    right: -150px;
    animation: rotate 20s linear infinite;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173px solid #ff8008;
    top: 50px;
    left: -50px;
    animation: float 6s ease-in-out infinite;
}

@keyframes slideIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
/*-----------------------------------------------------------------------------------Market--------------------------------------------------------------*/
h1 {
    text-align: center;
    color: #ffffff;
}



.role-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}


.role-item {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    padding: 10px;
    border-radius: 10px;
    
    position: relative;
    border: 2px solid transparent;
    overflow: hidden;
    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Hide overflow content */
    transform: scale(1); /* Initial scale */
    transition: transform 0.3s ease;
}

.role-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
    z-index: -1;
}

.role-item:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.1); /* Subtle box shadow */
    border-radius: 20px; /* Rounded corners */
    pointer-events: none;
    z-index: -1;
    transition: box-shadow 0.3s ease; 
}

.role-item h2 {
    font-size: 32px; /* Larger font size */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold text */
    margin-bottom: 15px; /* Increased margin */
    color: #fff;
    transition: color 0.3s ease;
}

.role-item:hover h2 {
    color: #ffffff;
    
}

.role-item p {
    font-size: 20px; /* Larger font size */
    font-style: italic; /* Italic text */
    color: #ccc; /* Text color */
    transition: color 0.3s ease;
}

.role-item:hover p {
    color: #fff
}
.role-item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 30px; /* Button border radius */
    border: 2px solid #ffffff; /* Button border */
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.role-item a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s ease;
    z-index: 0;
}

.role-item a:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.role-item a:hover {
    color: #000000; /* Text color on hover */
    background-color: #ff000000; /* Button background color on hover */
}
/* Update your existing button styles with these */








.role-owner {
    background-color: #ff0000; /* Change color for owner role */
}

.role-owner:hover {
    background-color: #ff0000d0;
}

.role-co-owner {
    background-color: #e58508; /* Change color for co-owner role */
}
.role-co-owner:hover {
    background-color: #bb6c05;
}

.role-boss {
    background-color: #8c0099; /* Change color for co-owner role */
}
.role-boss:hover {
    background-color:#72007c ;
}
.role-manager {
    background-color: #150f0d;

}
.role-manager a:hover {
    background-color: #ffffff;
}

.role-head {
   background-color: #824114;
}

.role-elite  {
    background-color: #66a2c4;
}
.role-golden {
    background-color: #05f21b;
}
.role-admin {
    background-color: #1e3d80;
}
.role-ultimate {
    background-color: #cd8d0d;
}
.role-super {
    background-color: #c0f104;
}
.role-full {
    background-color: #ccad90;
}
.role-normal {
    background-color: #21a78b;
}
.normal a:hover {
    background-color:#21a78b ;
}
























footer {
    width: 100%;
    
    background-color: #c7c7c7c2;
    padding: 10px 0;
    text-align: center;
    color: #1f1f1f;
}

.social-icons img {
    width: 30px; 
    margin: 0 10px; 
}

.social-icons a {
    text-decoration: none; 
    color: #fff; 
}


.copyright {
    margin-top: 10px; 
    font-size: 14px; 
}